.home {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background-color: $white;
  margin: 0;
  padding: 0;
  z-index: 1;

  overflow: hidden;
  height: 100vh;

  &.loaded {
    height: 100%;
    overflow: unset;
  }

  .logo {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    background-color: $white;

    img {
      width: 15rem;
      height: auto;
    }

    &.loaded {
      display: none;
    }
  }

  .title {
    position: relative;
    display: inline-block;
    height: 100vh;
    width: 100%;
  }

  .bg-img {
    position: absolute;
    background: right / cover no-repeat
      url("/assets/images/black-and-white-dance.jpeg");
    width: 100%;
    height: 100%;
    z-index: 1;

    @media screen and (max-width: 725px) {
      background-position-x: -27em;
    }
    @media screen and (max-width: 425px) {
      background-position-x: -30em;
    }
  }

  .title-content {
    position: absolute;
    padding: 1rem;
    color: $white;
    z-index: 5;
    top: 0;
    width: 100%;
    margin-bottom: 25vh;
  }

  #anim-h1 {
    font-family: $font-header;
    text-align: center;
    font-size: 13vw;

    margin: calc(13vw / 2) 0;
    position: relative;
    color: $white;

    .text-wrapper {
      position: relative;
      display: inline-block;
      padding-top: 0.1em;
      padding-right: 0.05em;
      padding-bottom: 0.15em;
      line-height: 1em;
    }
    .line {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 3px;
      width: 100%;
      background-color: $white;
      transform-origin: 0.5 0;
    }
    .letters {
      display: inline-block;
      opacity: 0;
    }
    .letters-1 {
      margin: auto 1rem;
    }
  }

  .angle {
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
    width: 100%;
    height: 20vh;
    z-index: 5;
    background-color: $white;

    + * {
      margin-top: calc((20vh * 0.5) * -1);
      position: relative;
    }
  }

  .content {
    margin-top: -25vh;
    position: relative;
    z-index: 5;

    .content-body {
      background: $white;
      position: relative;
      z-index: 10;
    }

    h2 {
      position: relative;
      background-color: $white;
      margin: 0;
      text-align: center;
    }

    .testimonies {
      display: flex;
      flex-flow: column;
      align-items: center;
      padding-bottom: 1em;
    }

    em {
      position: relative;
      max-width: $max-width-sm;
      text-style: italic;
      display: block;
      padding-top: 1rem;
      text-align: center;
    }
  }

  #anim-waterfall {
    background: $white;
    height: 100vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
  }

  footer {
    margin-top: 1rem;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;

    > .angle {
      background-color: $black;
    }

    .button-wrapper {
      padding: 1rem 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      background-color: $black;
    }

    a {
      margin: 1rem;
      z-index: 1;
      position: relative;
    }
  }
}
