.contact {
  max-width: $max-width;
  margin: 0 auto;

  form {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    background: rgba($tangerine, 0.3);
    position: relative;
    margin-top: -4em;
    padding-top: 3.5em;
    margin-right: 0;
    margin-left: auto;
  }

  .control {
    position: relative;
    padding: 1em;
    flex: 1 1 50%;
    min-width: 15rem;
  }

  input,
  label,
  textarea {
    display: block;
    width: 100%;
  }

  label {
    padding-bottom: 0.5em;
  }

  input,
  textarea {
    height: 3.5em;
    border: 1px solid $grey_light;
    padding: 1em;
    line-height: normal;
  }

  .checkbox {
    display: flex;
    align-items: baseline;

    input {
      width: auto;
      height: auto;
      margin-right: 1em;
    }
  }

  textarea {
    height: 15em;
  }

  .action {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
  }

  [type="submit"] {
    position: relative;
    margin: 1em;
    color: $black;
    border: 3px solid $black;
    width: auto;
    z-index: 1;

    &:after {
      background: $black;
    }

    &:hover {
      cursor: pointer;
      color: $white;

      &:after {
        width: 100%;
      }
    }
  }

  figure {
    margin: 0;
    display: flex;
    margin-bottom: 1em;
  }

  figcaption {
    z-index: 5;
    width: 50%;

    .text-wrapper {
      position: static;
      width: 100%;
      max-width: initial;
      background: $white;
      padding: 1em;
      padding-bottom: 2em;
      box-shadow: $box-shadow;
    }

    h2 {
      text-align: right;
    }
  }

  .img-wrapper {
    width: 50%;
    margin-top: 5%;
    img {
      position: relative;
      height: auto;
      border: 0;
      width: 130%;
      left: -30%;
      overflow: visible;
    }
  }

  h2,
  p,
  a {
    margin: 1rem;
    position: relative;
    text-align: left;
  }

  h2 {
    padding-bottom: 0.75em;
    &::after {
      @include gradient-underline($blue_light, $white);
    }
  }

  a {
    display: block;
    color: rgba($blue_dark, 0.75);
    text-decoration: none;

    &:hover,
    &:focus {
      color: $blue_dark;
      text-decoration: underline;
    }
  }

  article {
    background: rgba($pink_blush, 0.3);
    padding: 1em;
    padding-bottom: 5em;
    margin-top: -5em;
    padding-top: 5em;
    width: 85%;
  }

  @media screen and (max-width: $breakpoint-md) {
    figure {
      flex-flow: column;

      & > *,
      [class*="wrapper"],
      [class*="wrapper"] img {
        width: 100%;
        display: block;
        position: relative;
        margin: 0;
        left: 0;
        top: 0;
      }

      .text-wrapper {
        width: 90%;
        margin: 0;
      }
      .img-wrapper {
        margin-top: -1em;
      }
    }

    article,
    form {
      width: 95%;
      position: relative;
    }

    article,
    figcaption {
      margin-left: 2%;
    }
  }
}
