.about {
  $img-width: 9rem;

  position: relative;
  margin: 0 auto;
  background-image: url("../assets/flairs/olive-2.png");
  background-position: right;
  padding-bottom: 2rem;
  overflow: hidden;

  article {
    max-width: $max-width;
    margin: auto;
  }

  h2 {
    text-align: right;
    margin: 1rem;
    position: relative;
    padding-bottom: 0.75em;
    &::after {
      @include gradient-underline($white, $green_olive);
    }
  }

  p {
    margin: 0;
    line-height: 2em;
  }

  figure {
    margin: 0;
    display: flex;
    margin-bottom: 1em;
  }

  .img-wrapper {
    width: 65%;
    img {
      position: static;
      width: 100%;
      height: auto;
      border: 0;
    }
  }

  figcaption {
    width: 35%;
    .text-wrapper {
      overflow: visible;
      position: relative;
      max-width: initial;
      background: $white;
      width: 160%;
      left: -60%;
      margin-top: 93%;
      padding: 1em;
      padding-bottom: 2em;
      box-shadow: $box-shadow;
    }
  }

  .your-story {
    background: $green_light_2;
    padding: 1rem;
    margin-top: 1rem;
    box-shadow: $box-shadow;
    display: flex;

    div {
      flex-basis: 66%;
    }

    h2 {
      text-align: left;
      &::after {
        @include gradient-underline($green_olive, $white);
      }
      &:nth-of-type(2) {
        text-align: right;
        &::after {
          @include gradient-underline($white, $green_olive);
        }
      }
    }

    img {
      height: 20rem;
      width: auto;
      margin: auto;
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    article figure {
      flex-flow: column;

      & > *,
      [class*="wrapper"] {
        width: 100%;
        display: block;
        position: relative;
        margin: 0;
        left: 0;
        top: 0;
      }
    }
  }
}
