html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: $white;
  font-family: $font-body;
  font-weight: 400;
  color: $grey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
}

*,
*:after {
  box-sizing: border-box;
}

.with-nav {
  display: flex;
  aside ~ section {
    padding: 1rem;
    min-height: 100%;
    width: 100%;
    background: $lavender;
  }
}
