html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: $white;
  font-family: $font-body;
  font-weight: 400;
  color: $grey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
  position: relative;

  * svg.error {
    stroke: $error;
  }
}

h1,
h2,
h3,
h4,
h5,
.header {
  font-family: $font-header;
}

*,
*:after {
  box-sizing: border-box;
}

main {
  min-height: 100%;
  background: $green_light_1;
}

@keyframes gradientAnim {
  0% {
    background-position: 0% 96%;
  }
  50% {
    background-position: 100% 5%;
  }
  100% {
    background-position: 0% 96%;
  }
}

button,
[role="button"] {
  text-transform: uppercase;
  padding: 1rem;
  background: $white;
  border: 3px solid $green_olive;
  color: $green_olive;
  font-weight: 700;
  letter-spacing: 0.15rem;
  font-size: 1rem;
  display: inline-block;
  position: relative;
  transition: all 0.3s;
  outline: none;
  background: none;
  z-index: 0;

  &:hover {
    cursor: pointer;
    color: $white;

    &:after {
      width: 100%;
    }
  }

  &:after {
    content: "";
    transition: all 0.3s;
    position: absolute;
    z-index: -1;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: $green_olive;
  }
}

a {
  text-decoration: none;
  color: $green_olive;
}
