html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: $white;
  font-family: $font-body;
  font-weight: 400;
  color: $grey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;

  * svg.error {
    stroke: $error;
  }
}

*,
*:after {
  box-sizing: border-box;
}

.with-nav {
  display: flex;

  .page {
    width: 100%;
    min-height: 100vh;
    & > section {
      padding: 1rem;
      width: 100%;
    }
  }
}

main {
  min-height: 100%;
  @include background-animation(
    rgba($pink_blush, 0.3),
    $white,
    rgba($blue_light, 0.3)
  );
}

@keyframes gradientAnim {
  0% {
    background-position: 0% 96%;
  }
  50% {
    background-position: 100% 5%;
  }
  100% {
    background-position: 0% 96%;
  }
}
