.packages {
  @mixin cell {
    padding: 1em;
    margin: 0 1em;
    background: rgba($green, 0.9);
    color: $white;
    position: relative;
    text-align: center;

    h3 {
      position: relative;
      padding-bottom: 1em;

      &::after {
        @include gradient-underline($green_light, $white);
      }
    }
  }

  background-image: url("../assets/flairs/olive-4.png");
  background-position-y: -20vh;

  & > section {
    margin-top: 4em;
  }

  .tiers {
    margin-left: 33vw;
  }

  .slick-slide div {
    @include cell;
  }

  h2 {
    margin: 1rem 2rem;
  }

  p {
    line-height: 1.5em;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin: 1em 0;
    display: inline-flex;
    align-items: center;
    width: 100%;
    text-align: left;
  }

  li span:focus {
    outline: none;
  }

  li svg,
  td svg {
    width: 24px;
    height: 24px;
    margin-right: 0.5em;
    &:hover {
      transform: rotate(15deg);
    }
  }

  figure {
    margin: 0;
    display: flex;
    margin-bottom: 1em;
    max-width: $max-width;
    margin: 0 auto;

    &:nth-of-type(2) {
      margin-top: -5em;
    }
  }

  .img-wrapper {
    width: 75%;
    img {
      width: 100%;
      height: auto;
      border: 0;
      position: static;
    }
  }

  figcaption {
    z-index: 5;
    width: 25%;

    .text-wrapper {
      max-width: initial;
      background: $white;
      padding: 1em;
      padding-bottom: 2em;
      position: relative;
      width: 160%;
      left: -60%;
      overflow: visible;
      margin-top: 80%;
      box-shadow: $box-shadow;
    }

    h2 {
      text-align: left;
      padding-bottom: 1em;
      &::after {
        @include gradient-underline($pink_blush, $white);
      }
    }
  }

  .table-wrapper {
    width: 100%;
    margin: 2em auto;
    background: $white;
    box-shadow: $box-shadow;
    padding: 1em;
    overflow-x: scroll;
    max-width: $max-width;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    tbody,
    thead {
      padding: 1em;
    }

    tr {
      border-bottom: 1px solid $black;
    }
    tbody tr:last-of-type {
      border-bottom: none;
    }

    td,
    th {
      text-align: center;
      padding: 1em;
      min-width: 6.5rem;
    }

    td:first-of-type {
      text-align: left;
    }

    td.first {
      display: inline-flex;
      align-items: center;

      svg {
        height: 1rem;
        width: auto;
      }
    }
  }

  .add-ons {
    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(16.5rem, 1fr));
      grid-column-gap: 1em;
      grid-row-gap: 1em;
    }

    article {
      @include cell;
      background: rgba($green_light, 0.8);
      color: $black;

      h3::after {
        @include gradient-underline($tangerine, $white, $blue_light);
      }
    }
  }

  @media screen and (max-width: $breakpoint-lg) {
    .offering {
      // .cell {
      //   flex-basis: 100%;
      //   margin: 0 1em;
      // }

      &:nth-of-type(2) {
        .cell:nth-of-type(2) {
          color: $black;
          background: $white;
          box-shadow: $box-shadow;
          margin: 0;
        }
      }
    }
  }
}
