.packages {
  max-width: $breakpoint-xl;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4rem;

  @mixin cell {
    padding: 1em;
    margin: 0 1em;
    background: rgba($green_light, 0.9);
    color: $white;
    position: relative;
    text-align: center;

    h3 {
      position: relative;
      padding-bottom: 1em;

      &::after {
        @include gradient-underline($green_light, $white);
      }
    }
  }

  background-image: url("../assets/flairs/olive-4.png");
  background-position-y: -20vh;

  & > section {
    margin-top: 4em;
    background: $white;
    box-shadow: $box-shadow;
    padding: 0.25em 1em;
    &:nth-of-type(odd) {
      margin-left: 15vw;
    }
    &:nth-of-type(even) {
      margin-right: 15vw;
    }
  }

  .add-ons {
    // added space for buttons
    padding-left: calc(1em + 25px);
    padding-right: calc(1em + 25px);
    // added space for dots
    padding-bottom: calc(1em + 25px);

    .slick-arrow::before {
      color: $black;
    }

    .slick-slide {
      // background: rgba($green_light, 0.9);
      padding: 0 1em;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;

    button {
      border: none;
      background: 0 0;
      padding: 0;
      transform-origin: right center;
      transform: translate3d(0, 0, 0);
      max-width: 3rem;
      height: 1rem;
      overflow: hidden;
      margin: 1em;
      span {
        transform: translate(0, 0);
        transition: transform 0.9s 0.6s cubic-bezier(0.39, 0.575, 0.28, 0.995);
        display: block;
      }

      &:hover {
        transform: scale3d(1.2, 1, 1);
        cursor: pointer;
      }

      span::before {
        position: absolute;
        top: 50%;
        height: 2px;
        background: #161616;
        left: 1px;
        right: 1px;
        content: "";
        margin-top: -1px;
      }

      svg {
        width: 0.514vw;
        width: 7px;
        fill: #161616;
        height: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      &.button-next {
        svg {
          right: 0;
        }
      }

      &.button-previous {
        svg {
          left: 0;
        }
      }
    }
  }

  h2 {
    margin: 0 2rem;
    font-size: 3.5rem;
  }

  p {
    line-height: 1.5em;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin: 1em 0;
    display: inline-flex;
    align-items: center;
    width: 100%;
    text-align: left;
  }

  li span:focus {
    outline: none;
  }

  li svg,
  td svg {
    width: 24px;
    height: 24px;
    margin-right: 0.5em;
    &:hover {
      transform: rotate(15deg);
    }
  }

  .table-wrapper {
    overflow-x: scroll;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    tbody,
    thead {
      padding: 1em;
    }

    tr {
      border-bottom: 1px solid $black;
    }
    tbody tr:last-of-type {
      border-bottom: none;
    }

    td,
    th {
      text-align: center;
      padding: 1em;
      min-width: 6.5rem;
    }

    td:first-of-type {
      text-align: left;
    }

    td.first {
      display: inline-flex;
      align-items: center;

      svg {
        height: 1rem;
        width: auto;
      }
    }
  }

  .carousel {
    display: flex;
    .next-cards {
      flex-basis: 40%;
      justify-content: flex-end;
      display: flex;
      flex-direction: column;
    }

    article {
      padding: 1em;
      background: rgba($green_light, 0.9);
      color: $white;
      text-align: center;
      border: 1px solid $black;

      &:hover {
        cursor: pointer;
      }

      &.selected {
        background: rgba($green, 0.9);
        flex-basis: 60%;
        border: none;
        &:hover {
          cursor: initial;
        }
      }
      h3 {
        position: relative;
        padding-bottom: 1em;

        &::after {
          @include gradient-underline($green_light, $white);
        }
      }
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    .tiers,
    .add-ons,
    .table-wrapper {
      margin-left: 1em;
      margin-right: 1em;
      width: unset;
    }
  }
}
