.packages {
  @mixin cell {
    padding: 1em;
    margin: 0 1em;
    background: rgba($green, 0.9);
    color: $white;
    position: relative;
    text-align: center;

    h3 {
      position: relative;
      padding-bottom: 1em;

      &::after {
        @include gradient-underline($green_light, $white);
      }
    }
  }

  background-image: url("../assets/flairs/olive-4.png");
  background-position-y: -20vh;

  & > section {
    margin-top: 4em;
  }

  .tiers {
    margin-left: 33vw;
  }

  .slick-slide div {
    @include cell;
  }

  .add-ons {
    margin-right: 33vw;

    .slick-slide div {
      background: rgba($green_light, 0.8);
      color: $black;
      margin: 1em;

      h3::after {
        @include gradient-underline($white, $green);
      }
    }
  }

  h2 {
    margin: 1rem 2rem;
  }

  p {
    line-height: 1.5em;
  }

  td svg {
    width: 24px;
    height: 24px;
    margin-right: 0.5em;
    &:hover {
      transform: rotate(15deg);
    }
  }

  .table-wrapper {
    width: 100%;
    margin: 2em auto;
    background: $white;
    box-shadow: $box-shadow;
    padding: 1em;
    overflow-x: scroll;
    max-width: $max-width;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    tbody,
    thead {
      padding: 1em;
    }

    tr {
      border-bottom: 1px solid $black;
    }
    tbody tr:last-of-type {
      border-bottom: none;
    }

    td,
    th {
      text-align: center;
      padding: 1em;
      min-width: 6.5rem;
    }

    td:first-of-type {
      text-align: left;
    }

    td.first {
      display: inline-flex;
      align-items: center;

      svg {
        height: 1rem;
        width: auto;
      }
    }
  }

  @media screen and (max-width: $breakpoint-lg) {
  }
}
