// fonts
$font-header: "Poiret One", cursive;
$font-body: "Open Sans", sans-serif;

// colors
$grey: #444;
$pink_blush: #eb8f90;
$tangerine: #ffb471;
$yellow: #ffd171;
$yellow_light: #ffdd96;
$blue_light: #adbed2;
$blue_dark: #12406a;
$white: #fafafa;
$black: #141414;
$error: #c02b23;

// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
