// fonts
$font-header: "Poiret One", cursive;
$font-body: "Open Sans", sans-serif;

// colors
$grey: #444;
$lavender: #e6dbff;
$pink_blush: #eb8f90;
$tangerine: #ffb471;
$blue_light: #adbed2;
$blue_dark: #12406a;
$white: #fafafa;
