// fonts
$font-header: "NF OXYA", "Poiret One", sans-serif;
$font-body: "Cormorant", "Open Sans", sans-serif;
$font-cursive: "Golden Script", cursive;

// colors
$green: #7a8467;
$green_olive: #576247;
$green_light: #b1baa1;
$green_light_1: #dce1cb;
$green_light_2: #e7ebdd;
$gold: #e7be6c;

// v1 colors
$grey: #444;
$grey_light: #ccc;
$pink_blush: #eb8f90;
$tangerine_light_2: #ffdec0;
$tangerine_light_1: #ffc896;
$tangerine: #ffb471;
$tangerine_dark_1: #e08f47;
$yellow: #ffd171;
$yellow_light: #ffdd96;
$blue_light: #adbed2;
$blue_dark: #12406a;
$blue_dark_2: #062f53;
$blue_dark_3: #021e38;
$white: #fafafa;
$black: #141414;
$error: #c02b23;

// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$box-shadow: 0px 10px 20px 2px rgba($black, 0.8);

$max-width: 60rem;
$max-width-sm: 30rem;
