.portfolio {
  .grid {
    margin: 0 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-column-gap: 2rem;
  }
  .cell {
    position: relative;
    overflow: hidden;
  }

  .video {
    position: relative;
    margin: -6.5% 0;
    background: $black;
  }

  figure {
    // set on youtube iframe as well
    clip-path: inset(12.5% 0 14% 0);

    &.error {
      img,
      svg {
        cursor: initial;
      }
    }
  }

  img {
    width: 100%;
    height: auto;
    &:hover {
      cursor: pointer;
    }
  }

  svg {
    stroke: $white;
    position: absolute;
    top: calc(50% - 1.5rem);
    left: calc(50% - 1.5rem);
    width: 3rem;
    height: 3rem;
    &:hover {
      cursor: pointer;
    }
  }

  .video-iframe {
    position: absolute;
    top: 5%;
    width: 100%;
    height: 100%;
    z-index: -1;

    &.ready {
      z-index: 5;
    }
  }
}
